<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body class="">
    <h1><%= message %></h1>
    <h4><%= error.stack %></h4>
  </body>
</html>
